@import url('https://fonts.googleapis.com/css?family=Ubuntu');

p {
  margin-top: 40px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 3px 3px 20px #ff99cc,
    -2px 1px 30px #ff99cc;
}